*.pyc
__pycache__/
*.log
*.swp
*.swo
*.DS_Store
node_modules/
env/
*.db
*.sqlite
*.mariadb
*.conf
*.pid
*.sock
*.json.bak
*.zip
*.tar.gz
*.tgz
*.back
*.old
*.bak
*.orig
npm-debug.log*
yarn-error.log*
